
<section id="posts">
  <h1>Data Analyses <small>We Scrap, We stats</small></h1>
<%= require('./posts/paris-rentals.ejs')() %>
</section>

<section id="posts">
  <h1>Experiments <small>Practical, fun and mostly random</small></h1>
<%= require('./posts/twitch-emotes.ejs')() %>
<%= require('./posts/pendulum.ejs')() %>
</section>
