
<section class="article">
  <div class="header">
    <div class="header-left">
      <h1>How to create a IO Game</h1>
      <div class="date">Posted JUN 21, 2017</div>
    </div>
    <div class="header-right">
      <div class="tags">
        <div class="tag">JS</div>
        <div class="tag">C++</div>
        <div class="tag">WebSocket</div>
      </div>
    </div>
  </div>

  <h2>Introduction</h2>
  
  <canvas id="animation" class="grey-canvas"></canvas>

<!-- <%= require('../disqus.ejs')() %> -->
</section>