
<div class="post-container">
  <a href="/io-game" class="post post-cpp">
    <div class="post-header">
      <div class="picture">
      </div>
      <div class="info">
        <div class="title">How to Create a IO Game</div>
        <div class="tags">
          <div class="tag">JS</div>
          <div class="tag">C++</div>
          <div class="tag">WebSockets</div>
        </div>
        <div class="date">Posted JUL 03, 2017</div>
      </div>
    </div>
    <div class="post-description">
      In this experiment, we are going to develop an IO Game. What's an IO Game you ask ?
      It is a multiplayer game, powered by WebSockets, that you can play with just your
      browser. We'll build a copy of agar.io which started the trend.
    </div>
  </a>
</div>
