
<div class="post-container">
  <a href="/paris-rentals" class="post post-go">
    <div class="post-header">
      <div class="picture">
        <div id="picture-paris-rentals" class="paris-rentals"></div>
      </div>
      <div class="info">
        <div class="title">Paris Apartment Rentals Ads</div>
        <div class="tags">
          <div class="tag">Go</div>
          <div class="tag">SQL</div>
          <div class="tag">Stats</div>
        </div>
        <div class="date">Posted JUL 03, 2017</div>
      </div>
    </div>
    <div class="post-description">
      In this data analysis, we are going to scrap the largest french real estate
      portal and retrieve all the flat rentals in Paris, using the Go language. With
      the resulting data, we will do an elementary analysis, to explore how the market behave.
    </div>
  </a>
</div>
