
<div class="post-container">
  <a href="/pendulum" class="post post-js">
    <div class="post-header">
      <div class="picture pendulum">
        <canvas id="pendulum"></canvas>
      </div>
      <div class="info">
        <div class="title">Double Pendulum Animation</div>
        <div class="tags">
          <div class="tag">JS</div>
          <div class="tag">Maths</div>
          <div class="tag">Canvas</div>
        </div>
        <div class="date">Posted JUN 21, 2017</div>
      </div>
    </div>
    <div class="post-description">
      In this experiment, we are going to build a double pendulum
      animation, using the canvas API. Some maths knowledge is required,
      but nothing too complex. This is my first post, any feedback is appreciated!
    </div>
  </a>
</div>
