
<div class="post-container">
  <a href="/programming-subreddits" class="post post-reddit">
    <div class="post-header">
      <div id="picture-programming-subreddits" class="picture programming-subreddits"></div>
      <div class="info">
        <div class="title">Programming Subreddits</div>
        <div class="tags">
          <div class="tag">Python</div>
          <div class="tag">SQL</div>
          <div class="tag">Stats</div>
        </div>
        <div class="date">Posted SEPT 17, 2017</div>
      </div>
    </div>
    <div class="post-description">
      In this data analysis, we are going to study programming subreddits. We will explore a 100gb dataset composed of reddit comments and submissions
      from the last three months (as of Sept 2017), focusing programming related subreddits.
    </div>
  </a>
</div>
