
<div class="post-container">
  <a href="/twitch-emotes" class="post post-ex">
    <div class="post-header">
      <div id="picture-twitch" class="picture twitch"></div>
      <div class="info">
        <div class="title">Counting Twitch Emotes</div>
        <div class="tags">
          <div class="tag">Elixir</div>
          <div class="tag">IRC</div>
        </div>
        <div class="date">Posted JUN 28, 2017</div>
      </div>
    </div>
    <div class="post-description">
      In this experiment, we are going to count emoticons from the
      Twitch chats, using the Elixir language. I will guide you through
      the usage of the Twitch API, and its IRC server. Let's count, and
      may the best streamer have the most Kappas!
    </div>
  </a>
</div>
